body {
  background-color: #9633ff;
  font-family: Arial, Helvetica, sans-serif;
}
.myforms {
  background-color: white;
  padding: 50px;
  border-radius: 10px;
}
.pal {
  padding: 10px;
  border-radius: 20px;
  border: none;
  width: 300px;
}
.prl {
  color: #9633ff;
}
.button {
  background-color: #9633ff;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
  padding: 10px;
  
}
#container {
  justify-content: center;
  display: flex;
  margin-top: 50px;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}
.btn {
  justify-content: center;
  display: flex;
}
.icon {
  border: 3px solid rgb(236, 225, 225);
  border-radius: 10px;
  padding-left: 10px;
  justify-content: space-between;
  display: flex;
  align-self: center;
  margin-top: 20px;
}

.s-icon {
  align-self: center;
}
